<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title
    <link rel="stylesheet" href="~/css/contact_style.css"/>
</head>

<body>
    <h1>Contact Page ----- <a href="/">Home|</a><a href="/Projects">Projects</a> </h1>

    <div class="wrapper">
        <form>
            <legend>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" placeholder="Your name.....">

                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email address.....">

                <label for="message">Message</label>
                <input type="text" id="message" name="message" placeholder="Leave a message.....">
            </legend> 
        </form> 
 
    </div>
</body>

</html>