@{
    DateTime todayDate = DateTime.Now;
    string dspDate = String.Format("{0:MMM d, yyyy}", todayDate);
    string dspTime = String.Format("{0:hh:mm tt}", todayDate);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects</title
    <link rel="stylesheet" href="~/css/projects_style.css"/>
</head>

<body>
    <h1>PROJECTS PAGE ----- <a href="/">Home|</a><a href="/Contact">Contact</a> </h1>

    <div class="wrapper">
       <div class="projleft">
            <h4>Project: Annual Financial Planning</h4>  
            <img src="~/pics/proj1.jpg" alt="Project One">
        </div>
  
        <div class="projright">
            <p>sdljflk sjdf lksjdf lksjd fkljsdlk fjlssfsfdfsdfsdfsdf sdskdjf klsdjflksdj flsk. </p>
            <p>sdljflksjdflk sjdf lksjdfkljsdlkfjls s dfsdfsdfssfdsd fskdjfklsd jflksdsd jflsk </p>
            <p>Ikklk jasdfl sdjkfj sdfsdfs with fs dfsfsssd fsdsdfsld jflksdjfkl sdjfk jsdlkfj </p>
            <p>sdljflksjdf lksjdflksj dfkljsdlk fjlssfsfd fsdfs dfsdfs dskdjf klsdjflk sdjflsk </p>
            <p>sdljflksjd flksj dflksj dfklj sdlkfjl ssdfsd fsdfssfds dfskdjf klsdjflkd jflsk. </p>
        </div>

        <div class="projleft">
            <h4>Project: Deployment of new computer hardware</h4>  
            <img src="~/pics/proj2.jpg" alt="Project Two">
        </div>         
  
        <div class="projright">
            <p>sdljflk sjdf lksjdf lksjd fkljsdlk fjlssfsfdfsdfsdfsdf sdskdjf klsdjflksdj flsk. </p>
            <p>sdljflksjdflk sjdf lksjdfkljsdlkfjls s dfsdfsdfssfdsd fskdjfklsd jflksdsd jflsk </p>
            <p>Ikklk jasdfl sdjkfj sdfsdfs with fs dfsfsssd fsdsdfsld jflksdjfkl sdjfk jsdlkfj </p>
            <p>sdljflksjdf lksjdflksj dfkljsdlk fjlssfsfd fsdfs dfsdfs dskdjf klsdjflk sdjflsk </p>
            <p>sdljflksjd flksj dflksj dfklj sdlkfjl ssdfsd fsdfssfds dfskdjf klsdjflkd jflsk. </p>
            <p>sdljflksjdflk sjdf lksjdfkljsdlkfjls s dfsdfsdfssfdsd fskdjfklsd jflksdsd jflsk </p>
            <p>Ikklk jasdfl sdjkfj sdfsdfs with fs dfsfsssd fsdsdfsld jflksdjfkl sdjfk jsdlkfj </p>
            <p>sdljflksjdf lj dfsdfsd.
        </div>

        <div class="projleft">
            <h4>Project: Sales Trends analysis</h4>  
            <img src="~/pics/proj3.jpg" alt="Project Three">
        </div>

        <div class="projright">
            <p>sdljflksjdflk sjdf lksjdfkljsdlkfjls s dfsdfsdfssfdsd fskdjfklsd jflksdsd jflsk </p>
            <p>Ikklk jasdfl sdjkfj sdfsdfs with fs dfsfsssd fsdsdfsld jflksdjfkl sdjfk jsdlkfj </p>
            <p>sdljflksjdf lksjdflksj dfkljsdlk fjlssfsfd fsdfs dfsdfs dskdjf klsdjflk sdjflsk </p>
            <p>sdljflksjd flksj dflksj dfklj sdlkfjl ssdfsd fsdfssfds dfskdjf klsdjflkd jflsk. </p>
            <p>sdljflksjdflk sjdf lksjdfkljsdlkfjls s dfsdfsdfssfdsd fskdjfklsd jflksdsd jflsk </p>
            <p>Ikklk jasdfl sdjkfj sdfsdfs with fs dfsfsssd fsdsdfsld jflksdjfkl sdjfk jsdlkfj </p>
            <p>sdljflksjdf lksjdflksj dfsdfsd.
        </div>
    </div>  
</body>

</html>