<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
    <link rel="stylesheet" href="{{url_for('static', filename='my_stylesheet.css')}}">
</head>
<body>
    <div class="wrapper">  -->
        <h2>Your Gold: {{ gold }}</h2>
        <div class="location">
          <h3>Farm</h3>
          <h4>(earn 10 to 20 golds)</h4>
            <form action="/process_money" method="post">
              <input type="hidden" name="building" value="farm"/>
              <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="location">
          <h3>Cave</h3>
          <h4>(earn 5 to 10 golds)</h4>   
              <form action="/process_money" method="post">
                <input type="hidden" name="building" value="cave"/>
                <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <div class="location">
            <h3>House</h3>
            <h4>(earn 2 to 5 golds)</h4>
              <form action="/process_money" method="post">
                 <input type="hidden" name="building" value="house"/>
                 <input type="submit" value="Find Gold!"/>
              </form>
        </div>
        <div class="location">
            <h3>Casino</h3>
            <h4>(earns/takes up to 50 golds)</h4>   
            <form action="/process_money" method="post">
              <input type="hidden" name="building" value="casino"/>
              <input type="submit" value="Find Gold!"/>
            </form>
        </div>
        <h3>Activities</h3>
        <div class="activities">
            {% for the_result in session['result'] %}
            <p class="result">{{the_result}}</p>
            {% endfor %}
        </div>
    </div>   -->
</body>
</html>